In [1]:
from pyspark.sql.types import *
#from pyspark.sql.types import sqlContext

In [2]:
import pandas as pd
import time

In [3]:
# Optimize the convertion of pandas and spark dataframes
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
spark.conf.set("spark.sql.execution.arrow.maxRecordsPerBatch", 1000)

In [4]:
pagelinkscorrect_sdf = sqlContext.read.parquet("pagelinks_corrected0spark.parquet/")

In [5]:
pagelinkscorrect_sdf.printSchema()

root
 |-- source: string (nullable = true)
 |-- fix_target: string (nullable = true)

In [7]:
pagelinkscorrect_sdf.registerTempTable('plcorrected')

In [10]:
query = """
select * from plcorrected limit 5
"""
sqlContext.sql(query).toPandas()

,source,fix_target
0,List_of_bank_mergers_in_the_United_States,$907_million
1,Constructor_(object-oriented_programming),Crt0
2,Beijing_Schmidt_CCD_Asteroid_Program,List_of_minor_planets:_100001–101000
3,Beijing_Schmidt_CCD_Asteroid_Program,List_of_minor_planets:_100001–101000
4,Beijing_Schmidt_CCD_Asteroid_Program,List_of_minor_planets:_11001–12000